.contactenos-body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('imagenes/8.jpg');
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.contenedor-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
}

.contenedor-nav ul li {
    padding: 15px;
}

.contenedor-nav a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}

.contenedor-nav a:hover {
    background-color: #555;
}

.formulario-contacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-contacto h2 {
    text-align: center;
    font-size: 48px;
    font-family: 'Carter One', serif;
    color: silver;   
    -webkit-text-stroke: 1px #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px; /* Aumenta el padding para más espacio interno */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 200px; /* Altura mínima de 100px */
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}